
# Created by https://www.toptal.com/developers/gitignore/api/data,microsoftoffice
# Edit at https://www.toptal.com/developers/gitignore?templates=data,microsoftoffice

### Data ###
*.csv
*.dat
*.efx
*.gbr
*.key
*.pps
*.ppt
*.pptx
*.sdf
*.tax2010
*.vcf
*.xml

### MicrosoftOffice ###
*.tmp

# Word temporary
~$*.doc*

# Word Auto Backup File
Backup of *.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsd*

# End of https://www.toptal.com/developers/gitignore/api/data,microsoftoffice